
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url(./img/photo_2024-06-06_09-05-49.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.container {
    background: #fff;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: auto;
    transition: all 500ms;
    background-image: url(./img/photo_2024-06-06_09-05-49.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

.container:hover{
    box-shadow: rgba(36, 232, 85, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 500ms;
}

input, select, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #48ff00;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 500ms;
}

button:hover {
    background-color: #48ff00c8;
    color: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  
    transition: all 500ms;
}

button:active{
    background-color: #48ff0096;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    color: #ffffff;
  
}